[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = NiaMcAlkich
	email = 104858847+NiaMcAlkich@users.noreply.github.com
[core]
	autocrlf = true
